/*

!/.gitignore
!/README.rst
!/UNLICENSE
!/KerbalSync.bat
!/KSP.x86-sync
!/KSP.x86_64-sync

!/saves
!/Ships

/saves/scenarios
/saves/training

/Ships/SPH/Stearwing D45.craft
/Ships/SPH/Ravenspear Mk3.craft
/Ships/SPH/Aeris 3A.craft
/Ships/SPH/Rocket-power VTOL.craft
/Ships/SPH/Ravenspear Mk1.craft
/Ships/SPH/Albatross 3.craft
/Ships/SPH/Ravenspear Mk4.craft
/Ships/SPH/Aeris 4A.craft
/Ships/SPH/Stearwing A300.craft
/Ships/VAB/Z-MAP Satellite Launch Kit.craft
/Ships/VAB/Orbiter 1A.craft
/Ships/VAB/Ion-Powered Space Probe.craft
/Ships/VAB/Learstar A1.craft
/Ships/VAB/Kerbal 2.craft
/Ships/VAB/Kerbal X.craft
/Ships/VAB/Rover + Skycrane.craft
/Ships/VAB/Space Station Core.craft
/Ships/VAB/Super-Heavy Lander.craft
/Ships/VAB/Two-Stage Lander.craft

/Ships/@thumbs/SPH/Stearwing D45.png
/Ships/@thumbs/SPH/Ravenspear Mk3.png
/Ships/@thumbs/SPH/Aeris 3A.png
/Ships/@thumbs/SPH/Rocket-power VTOL.png
/Ships/@thumbs/SPH/Ravenspear Mk1.png
/Ships/@thumbs/SPH/Albatross 3.png
/Ships/@thumbs/SPH/Ravenspear Mk4.png
/Ships/@thumbs/SPH/Aeris 4A.png
/Ships/@thumbs/SPH/Stearwing A300.png
/Ships/@thumbs/VAB/Z-MAP Satellite Launch Kit.png
/Ships/@thumbs/VAB/Orbiter 1A.png
/Ships/@thumbs/VAB/Ion-Powered Space Probe.png
/Ships/@thumbs/VAB/Learstar A1.png
/Ships/@thumbs/VAB/Kerbal 2.png
/Ships/@thumbs/VAB/Kerbal X.png
/Ships/@thumbs/VAB/Rover + Skycrane.png
/Ships/@thumbs/VAB/Space Station Core.png
/Ships/@thumbs/VAB/Super-Heavy Lander.png
/Ships/@thumbs/VAB/Two-Stage Lander.png
